/* nav{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(0, 0, 0,0.2);
} */
.cur {
    cursor: pointer !important;
}
.active {
    color: #ffdc54;
}