@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* *{
  background: #fff;
} */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background: #fff;
}
.btn-ghost {
  text-transform: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.padding-global{
  padding-left: 2.5em;
  padding-right: 2.5em;
}



@media screen and (max-width: 767px){
  .padding-global{
    padding-left: 1.25em;
    padding-right: 1.25em;
  }
}
.container-large {
  margin-right: auto !important;
  margin-left: auto !important;
}
.container-large {
  width: 100%;
  max-width: 88.5rem;
  margin-left: auto;
  margin-right: auto;
}

.text-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-end{
  display: flex;
  justify-content: flex-end;
}